# common environment variables
# 记录日志到logs/longboat.log
LOG_FILE=
LOG_LEVEL=warning
WS_HOST=localhost
WS_PORT=9292
WS_USER=ws_log
WS_PASS=ex0mp1e@p0ss

# server environment variables
DB_HOST=192.168.203.1
DB_PORT=3306
DB_USER=root
DB_PASS=root
DB_NAME=log
DB_PREFIX=nginx_

# client environment variables
WATCH_LOG=/var/logs/access.log /var/logs/access2.log /var/logs/access3.log
